<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{cssCommonUri}}">
    <link rel="stylesheet" href="{{cssEditorUri}}">
    <title>Python Koan Editor</title>
</head>

<body>
    <h1>Python Koan Editor</h1>

    <p id="module-docstring">The Python module <code>docstring</code> will be loaded in here.</p>

    <h1>Document</h1>
    <div id="document-details">
        <p>Loading document details...</p>
    </div>

    <h1>Challenges</h1>
    <div id="challenges-container">
         <p>Loading challenges from Python members...</p>
    </div>

    <script src="{{scriptUri}}"></script>
</body>

</html>
